* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

ul > li {
    display: inline-block;
}

.flex {
    display: flex;
}

.container {
    max-width: 1200px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100vh;
}

/* TOP BAR */

.top-bar {
    width: 100%;
    max-height: 50px;    
    justify-content: flex-end;
}

.top-button {
    background-color: #4a4a4a;
    display: inline-block;
    max-width: 200px;
    color: white;
    margin: 0.25rem;
    padding: 0.4rem;
    border-radius: 10px;
    font-size: 13px;
}

.fa-table-cells {
    margin-right: 0.2rem;
}

/* CHAT ROOM */

.chat-room-cont {
    width: calc(1200px * 0.91);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0.3rem;
    row-gap: 0.4rem;
    max-height: 80.5%;
}

/* BOTTOM BAR */

.bottom-bar {
    min-height: 8.3vh;
    width: 100%;
    background-color: #2b2b2b;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}

.bottom-sect {
    height: 100%;
    width: calc(100vw /3);
    border: 1px dashed white;
}

.col-bottom {
    color: white;
}

.command > i {
    font-size: 1.5rem;
}

.command > span {
    font-size: 0.7rem;
}


/* BOTTOM LEFT SECTION */

.bottom-sect:first-child {
    flex-basis: content;
}

.command , .angle {
    padding: 0.4rem;
    text-align: center;
}

.angle {
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;    
}

/* BOTTOM CENTRAL SECTION */

.bottom-sect:nth-child(2) {
    flex-grow: 3;
    justify-content: center;
}

.fa-share-from-square {
    color: #47c900;
}

/* BOTTOM RIGHT SECTION */

.end-meet {
    color: red !important;
    background-color: #4a4a4a;
    flex-basis: content;
    align-items: center;
    font-size: 0.8rem;
    padding: 1.25rem
}


