* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

ul > li {
    display: inline-block;
}

.flex {
    display: flex;
}

.container {
    max-width: 1200px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100vh;
}

/* TOP BAR */

.top-bar {
    width: 100%;
    max-height: 50px;
    background-color: orange;
    justify-content: flex-end;
}

.top-button {
    background-color: #4a4a4a;
    display: inline-block;
    max-width: 200px;
    color: white;
    margin: 0.25rem;
    padding: 0.4rem;
    border-radius: 10px;
    font-size: 13px;
}

.fa-table-cells {
    margin-right: 0.2rem;
}

/* CHAT ROOM */

.chat-room-cont {
    width: calc(1200px * 0.91);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 80.5%;
    background-color: aqua;
}

/* BOTTOM BAR */

.bottom-bar {
    height: 8.3vh;
    width: 100%;
    background-color: #2b2b2b;
    position: absolute;
    bottom: 0;  
}